@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');



*{
  padding: 0px;
  margin:  0px;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

.navbar{
  width: 100%;
  background-color: #3F3E3E;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  align-items: center;
}

.navbar-options{
  display: flex;
  flex-direction: row;
  width: 40%;
}

.navbar-logo{
  width: 40%;
}

.nameCompany{
  font-size: 1.3rem;
  color: rgb(78,173,119);
}

.navbar-options ul{
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: space-between;
  list-style: none;
}

.navbar-options ul li a{
  transition: all .3s ease-in;
}


.navbar-options ul li a:hover{
  transform: scale(1.1);
  color: rgb(140,189,117);
}


.navbar-form{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.navbar-form > input[type="text"], .navbar-form > input[type="password"]{
  width: 8rem;
  border: none;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  font-size: 1.2rem;
}

.navbar-form > button{
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  background: rgb(53,137,95);
  background: linear-gradient(90deg, rgba(53,137,95,1) 0%, rgba(78,173,119,1) 35%, rgba(140,189,117,1) 100%);

  transition: all .5s;
}

.navbar-form > button:hover{
  background: rgb(140,189,117,1);
  background: linear-gradient(90deg, rgba(140,189,117,1) 0%, rgba(78,173,119,1) 35%, rgba(53,137,95,1) 100%);
}



.banner{
  width: 100%;
  height: 50vh;
  background: rgb(53,137,95);
  background: linear-gradient(90deg, rgba(53,137,95,1) 0%, rgba(78,173,119,1) 35%, rgba(140,189,117,1) 100%);
}

.banner-main{
  height: 35vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.banner-main h1{
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: white;
  font-weight: 600;
}

.banner-opt{
  width: 100%;
  display: flex;
}

.banner-opt__card{
  width: 14.28%;
  border: 1px solid rgba(53,137,95,1);
  border-left: none;
  height: 15vh;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.5rem;
  transition: all .3s;
}

.banner-opt__card:hover{
  color: rgb(182, 241, 155)
}

.img{
  width: 80%;
  height: 400px;
}

.about{
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
}

.about h2{
  color: #3F3E3E;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-content article h3{
  color: #3F3E3E;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about-content{
  display: flex;
}

.parag{
  margin-bottom: 2rem;
  width: 80%;
}

.center{
  display: grid;
  place-items: center;
}

.btn,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(#000,.2);
}

.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active{
  transform: translateY(-1px);
  box-shadow: 0px .5rem 1rem rgba(#000,.2);
}

.btn--white{
  background-color: #ffffff;
  color: #777;
}

.btn--white::after{
  background-color: #ffffff;
}

.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}


.modal-content{
  width: 100%;
  background-color: red;
  padding: 0;
}

.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}

.subtitle-modal{
  margin-bottom: 10px;
}

.modal-form > input[type="password"], .modal-form > input[type="text"]{
  width: 20rem;
  padding: 10px;
  color: rgba(78,173,119,1);
  outline: none;
  border-radius: 5px;
  border: none;
}

.modal-form > input[type="submit"]{
  border: none;
  background: linear-gradient(rgb(71, 184, 120) 50%, rgba(140,189,117,1) 100%);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
}

.btn-back{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.content-home{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

.content-home__data{
  margin-top: 30px;
  display: flex;
}

.content-history{
  border: 1px solid #ccc;
  width: 50%;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
}

.content-transfer-option{
  width: 50%;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
}

.content-history ul li {
  list-style: none;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-home__info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
}

.card h4{
  margin-left: 10%;
  font-size: 20px;
  font-weight: bold;
}

.card form{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card form .input-group{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.card .input-group button{
  width: 50px;
  border: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;

  transition: all 300ms;
}

.card .input-group button:hover{
  background-color: #eee;
}

.card-transfer form .input-group input{
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(255, 207, 34);
  outline: none;
}

.space{
  justify-content: space-between !important;
  padding-left: 10%;
  padding-right: 10%;
}

.card-transfer{
background: rgb(253,194,6);
background: linear-gradient(158deg, rgba(253,194,6,1) 8%, rgba(255,185,2,1) 35%, rgba(255,170,3,1) 87%);
margin-bottom: 20px;
}

.card-consign{
  background: rgb(137,216,87);
  background: linear-gradient(158deg, rgba(137,216,87,1) 8%, rgba(99,194,105,1) 49%, rgba(60,174,121,1) 87%);
  margin-bottom: 20px;
}

.card-consign form .input-group input{
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(143, 233, 88, 0.89);
  outline: none;
 
}

.card-delete{
  background: rgb(252,75,84);
background: linear-gradient(158deg, rgba(252,75,84,1) 0%, rgba(243,59,84,1) 49%, rgba(229,40,80,1) 87%);
}

.card-delete form .input-group input{
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(252, 101, 108);
  outline: none;
}